.submit-post-wrap {
    background: var(--c-primary);
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;

    input[type="text"] {
        margin-bottom: 10px;
    }

    .btn {
        position: absolute;
        top: calc(100% - 20px);
        right: 20px;
    }
}
