.article {
    padding: 0;
    margin-bottom: 30px;

    .post-wrap {
        padding: 20px;
        position: relative;
        background: var(--c-white);
    }

    .author {
        position: relative;
        padding: 4px 0;
        margin-bottom: 20px;

        .avatar-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
        }

        .author-name {
            margin: 0;
            padding-left: 44px;
            font-size: 12px;
        }
    }

    .title {
        margin-bottom: 20px;
    }

    p:last-of-type {
        margin-bottom: 10px;
    }

    input[type="text"] {
        margin-bottom: 10px;
        padding: 0;
        border: 0;

        @extend h4;
    }

    textarea {
        margin-bottom: 20px;
        padding: 0;
        border: 0;

        @extend p;
    }

    .btn-wrap {
        position: absolute;
        top: calc(100% - 20px);
        right: 20px;
    }

    .btn {
        margin-left: 20px;
    }

    .comments-wrap {
        padding: 20px;
        padding-top: 30px;
        background: var(--c-light-grey);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li:not(:last-child) {
            padding-bottom: 8px;
            margin-bottom: 18px;
            border-bottom: 1px solid var(--c-dark-grey);
        }

        .author {
            color: var(--c-primary);
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 6px;
            padding: 0;
            display: block;
        }

        p {
            font-size: 13px;
            font-weight: 300;
        }
    }
}