.users-status {
    ul {
        list-style: none;
        margin: 0;
        background: var(--c-primary);
        line-height: 1.2;
        color: var(--c-white);
        position: sticky;
        top: 20px;
        min-height: 400px;
    }

    li {
        position: relative;
        padding-left: 14px;

        p {
            line-height: 2.4;
            font-size: 15px;
            color: var(--c-white);
            font-weight: 300;
            margin: 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: 16px;
            left: 0;
            width: 5px;
            height: 5px;
            background: var(--c-white);
            opacity: .3;
            border-radius: 50%;
        }

        &.online {
            &:before {
                background: var(--c-success);
                opacity: 1;
                width: 7px;
                height: 7px;
            }
        }
    }
}
